import {
  Entity,
  PrimaryGeneratedColumn,
} from 'typeorm';

import {
<% if (tenantBaseEntity) { %>
    BaseTenantEntityHelper as BaseEntity
<% } else { %>
    BaseEntityHelper as BaseEntity
<% } %>
} from '@softkit/typeorm';

@Entity('<%= snakeCase(entityName) -%>')
export class <%= pascalCase(entityName) -%> extends BaseEntity {
  @PrimaryGeneratedColumn('uuid')
  id!: string;
}
