<% if (i18n) { %>
i18:
  paths:
    - i18n/
    - ../../../../node_modules/@softkit/validation/i18n/
    - ../../../../node_modules/@softkit/exceptions/i18n/
<% } %>
<% if (db) { %>
db:
  host: 'localhost'
  port: ${TEST_DB_PORT}
  username: ${TEST_DB_USERNAME}
  password: ${TEST_DB_PASSWORD}
  database: ${TEST_DB_DATABASE}
  synchronize: ${TEST_DB_SYNCHRONIZE}
  dropSchema: ${TEST_DB_DROP_SCHEMA}
  migrationsRun: ${TEST_DB_RUN_MIGRATIONS}
  keepConnectionAlive: true
  logging: false
  migrations:
    - database/migrations/*.ts
<% } %>

swagger:
  enabled: false
