logs:
  colorize: true
  
<% if (auth) { %>
auth:
  accessTokenSecret: dsNVS7Fdsjb2ZSVI6F3tL8b9T1f9gsUg7XGwWoXC+ZoJ9QZytDZOmr7cZ5FQcNYYT67J6i4K5iKmtyDVZvg1Drb1AEP7enUBf//kMgdy+zMieoYalr12TJmIPjxZgGjom7qUJQRNOTAxz4hyJGdKCbghwxNSEp8GL2arGvPanUbujJd2ExG+ZRkuk89GL9X2WNBTqNV5ItDLtBz8NJhTb48tz+fClJNiGbQzK301gnIeNhIXxFMO6yFWycJB8LFzzWBx4J3kl0pHYfjLbfY4/7amWMLWowj23xKoQSBOkoqFHSDHxPotxK5BVyrLqFsA9FrDROyGcmD2Y2ctryWY8A==
  accessTokenExpirationTime: 30m
  refreshTokenSecret: asNVS7Fdsjb2ZSVI6F3tL8b9T1f9gsUg7XGwWoXC+ZoJ9QZytDZOmr7cZ5FQcNYYT67J6i4K5iKmtyDVZvg1Drb1AEP7enUBf//kMgdy+zMieoYalr12TJmIPjxZgGjom7qUJQRNOTAxz4hyJGdKCbghwxNSEp8GL2arGvPanUbujJd2ExG+ZRkuk89GL9X2WNBTqNV5ItDLtBz8NJhTb48tz+fClJNiGbQzK301gnIeNhIXxFMO6yFWycJB8LFzzWBx4J3kl0pHYfjLbfY4/7amWMLWowj23xKoQSBOkoqFHSDHxPotxK5BVyrLqFsA9FrDROyGcmD2Y2ctryWY8A==
  refreshTokenExpirationTime: 30d
<% } %>

app:
  prefix: "api/<%= name %>"
  port: <%= appPort %>

health:
  disk:
    enabled: true
  db:
    enabled: <%= db %>

swagger:
  title: "<%= title %>"
  swaggerPath: /api/<%= name %>/swagger
  enabled: true
  description: "<%= description %>"
  version: 1.0.0
  contactName: "<%= contactName %>"
  contactEmail: "<%= contactEmail %>"
  contactUrl: "<%= contactUrl %>"
  servers:
    - { url: "http://localhost:<%= appPort %>", description: "local server" }

<% if (i18n) { %>
i18:
  paths:
    - i18n/
    - ../../../node_modules/@softkit/validation/i18n/
    - ../../../node_modules/@softkit/exceptions/i18n/
<% } %>

<% if (db) { %>
db:
  applicationName: "<%= name %>"
  type: "postgres"
  host: "localhost"
  port: 5432
  username: postgres
  password: postgres
  database: "<%= dbName %>"
  synchronize: false
  dropSchema: false
  keepConnectionAlive: true
  logging: false
  ssl: false
<% } %>
