# File for Pull Request on main branch
name: PR on main libraries

# When a PR is opened to main
on:
  pull_request:
    branches:
      - main
    types: [ opened, reopened, synchronize ]


jobs:
  build:
    # Setup OS and Node Version
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Latest node only
        node-version: [ 20.x ]

    # Define Steps
    steps:
      # Checkout code
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install environment
        run: yarn install

      - name: Run lint
        run: npx nx affected:lint --base="origin/main"

      - name: Pull postgres image, before running tests
        run: docker pull postgres:15.4-alpine

      - name: Pull redis image, before running tests
        run: docker pull postgres:7.2.1-alpine3.18

      - name: Pull localstack image, before running tests
        run: docker pull localstack/localstack:3.0.0

      - name: Verify libraries can properly built
        run: npx nx affected:build --base="origin/main"

      - name: Tests coverage
        run: npx nx affected:test --base="origin/main" --codeCoverage --parallel=false
